//COLOR
$color-primary : #03A9F4;
$color-primary-light :#80DEEA;
$color-primary-dark : #039BE5;
$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-secondary-light:#FFE26C;
$color-secondary-dark:#F1C40F;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

//FONT
$default-font-size:1.6rem;