.brand{
    color: $color-primary-dark;
    font-family: 'Lobster',cursive;
    &__logo{
        font-size: 2.4rem;
    }

    &__anchor-logo{
        text-decoration: none;
        color: $color-white;
    }
}

.hero{
    position: relative;
    &__image{
        background-image:linear-gradient(to right, rgba($color-grey-dark-3,.5),rgba($color-grey-dark-3,.5)), url(../img/hero.jpg);
        background-position: top;
        background-size: cover;
        width: 100%;
        min-height: 80vh;
        background-repeat: no-repeat;
        //background-attachment: fixed;
    }

    &__caption{
        position: absolute;
        left: 10%;
        top: 60%;
        color: $color-white;
        letter-spacing: 3rem;
        border-left: 4px solid $color-secondary-light;
        padding-left: 1rem;
        

        &-home{
            color: $color-secondary-light;
            font-weight: 700;
            font-size: 3.2rem;

            @include respond(phone){
                font-size: 3rem;
                letter-spacing: 41px;
            }
        
        }

        &-design{
            font-weight: 700;  
            font-size: 3.2rem;

            @include respond(phone){
                font-size: 2rem;
                display: block;
            }
        }

        &-desc{
            display: block;
            color: $color-white !important;
            font-size: 2rem !important;
            letter-spacing: 1rem !important; 

            @include respond(phone){
                font-size: 1rem !important;
            }
        }
    }
}