.shape{
    
    &-circle{
        width: 15rem;
        height: 15rem;
        float:left;
        //radius luar object
        -webkit-shape-outside:circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        position: relative;
        overflow: hidden;
    }
}