.icon{
    &__bar{
        color: $color-primary-dark;
    }
}

.text-icon{
    font-size: 24px !important;
    color: $color-white !important;

    &:hover{
        color: $color-grey-dark-2 !important;
    }
}